# This is a basic workflow to help you get started with Actions

name: CI1

# Controls when the workflow will run
on:
  push:
     branches:
       - melega**
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
env:
  IMAGE_NAME: myimage

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Docker meta
        uses: docker/metadata-action@v3
        id: meta
        with:
          images: ${{ env.IMAGE_NAME }}
          
      - name: output
        run: |
          echo tags: ${{ steps.meta.outputs.tags }}
          echo labels: ${{ steps.meta.outputs.labels }}
          
